# =========================
# Environment
# =========================

.env


# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*$py.class


# =========================
# Virtual Environment
# =========================

venv/
env/
.venv/


# =========================
# Testing / Quality Tools
# =========================

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/


# =========================
# Logs
# =========================

*.log
logs/


# =========================
# IDE
# =========================

.vscode/
.idea/


# =========================
# OS
# =========================

.DS_Store
Thumbs.db


# =========================
# Temporary / Backup
# =========================

*.tmp
*.bak
*.swp


# =========================
# Build / Package
# =========================

build/
dist/
*.egg-info/


# =========================
# Database
# =========================

*.sqlite3


# =========================
# Node
# =========================

node_modules/